

.row.message-repository {
	margin-top: 50px;
}

#editMessageText {
   font-family: cursiv;
   font-style: italic;
}


#message-list .messageText {
   font-size: 2em;
}

#message-list .messageReference {
	font-size: 0.8em;
}

#message-list .messageSource,#message-list .firstDocumentedOccurence {
	font-family: monospace;
}

#message-list .submitter {
	font-size: 0.8em;
}

.row.presentation {
   margin: 5em;
	min-height: 10em;
}

.presentation .messageText {
   font-size: 5em;
}

.presentation .messageReference {
   font-size: 1.2em;
}

.presentation .messageSource,.presentation .firstDocumentedOccurence {
   font-family: monospace;
}

.presentation .submitter {
   font-size: 1.0em;
}

.presentation .messageDetails {
   text-align: center;
}





.font1 .messageText{
	font-family: 'Rouge Script', cursive;
}

.font2 .messageText{
	font-family: 'Yellowtail', cursive;
}

.font3 .messageText{
	font-family: 'Parisienne', cursive;
}

.font4 .messageText{
	font-family: 'Allura', cursive;
}

.font5 .messageText{
	font-family: 'Mr De Haviland', cursive;
}

.font6 .messageText{
	font-family: 'Tangerine', cursive;
}

.font7 .messageText{
	font-family: 'Sacramento', cursive;
}

.font8 .messageText{
	font-family: 'Herr Von Muellerhoff', cursive;
}