<!doctype html>
<html>
<head>
<title>Not-so-famous Messages</title>

<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="css/styles.css" rel="stylesheet">

<link
    href='http://fonts.googleapis.com/css?family=Rouge+Script|Yellowtail|Parisienne|Allura|Mr+De+Haviland|Tangerine|Sacramento|Herr+Von+Muellerhoff'
    rel='stylesheet' type='text/css'>

<script data-main="main" src="lib/requirejs/require.2.1.13.js"></script>

<script type="text/html" id="message-template">
		<div class="col-md-11 messageDetails">
            <p class="messageRecipient">"<%= recipient %>"</p>
            <p class="messageSubject">"<%= subject %>"</p>
            <p class="messageText">"<%= messageText %>"</p>
            <p class="messageFrom">"<%= sender %>"</p>
			<p class="messageHeaders"><%= messageHeaders %></p>
		</div>
      <div class="col-md-1">
         <span class="glyphicon glyphicon-edit"></span>
         <span class="glyphicon glyphicon-trash"></span>
      </div>
</script>

<script id="item-template" type="text/template">
	<div class="view">
		<label><%- messageText %></label>
		<a class="destroy"></a>
	</div>
	<input class="edit" type="text" value="<%- messageText %>" />
</script>


<script id="message-edit-template" type="text/template">
	<input id="editMessageRecipient" type="text" value="<%= recipient %>" />
	<input id="editMessageSubject" type="text" value="<%= subject %>" />
    <input id="editMessageText" type="text" value="<%= messageText %>" />
    <input id="editMessageFrom" type="text" value="<%= sender %>" />
   <span class="glyphicon glyphicon-add"></span>
</script>



</head>
<body>
    <div class="container-fluid" id="message-app">

        <!-- 	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->
        <!-- 		<div class="navbar-inner"> -->
        <!-- 			<div class="container"></div> -->
        <!-- 		</div> -->
        <!-- 	</div> -->
        <div class="row presentation">
            <div class="col-md-12">
                <h1>Messages - what would we do without them?!</h1>
                <p>This is the opportunity to make your or someone else's message part of eternal history.</p>
                <p>Why? Why not.</p>
            </div>
        </div>

        <div class="row entry">
            <div class="col-md-1"></div>
            <div class="col-md-5" role="form" id="messageForm">
                <div class="form-group">
                    <label for="editMessageFrom">Sender</label> <input type="email"
                        class="form-control" id="editMessageFrom" placeholder="sender's e-mail address">
                </div>

                <div class="form-group">
                    <label for="editMessageRecipient">Recipient</label> <input type="email"
                        class="form-control" id="editMessageRecipient" placeholder="recipient's e-mail address">
                </div>

                <div class="form-group">
                    <label for="editMessageSubject">Subject</label> <input type="text" class="form-control"
                        id="editMessageSubject" placeholder="e-mail subject">
                </div>

                <div class="form-group">
                    <label for="editMessageText">Message</label>
                    <textarea id="editMessageText" class="form-control" rows="5"
                        placeholder="Message Body"></textarea>
                </div>

                <button type=reset " class="btn btn-default resetMessageForm">
                    <span class="glyphicon glyphicon-remove"></span> Reset
                </button>
                <button type="submit" class="btn btn-default addNew">
                    <span class="glyphicon glyphicon-ok"></span> Submit
                </button>
            </div>
        </div>

        <div class="row message-repository">
            <div class="col-md-12">
                <div id="message-list" class="container"></div>
            </div>
        </div>
    </div>

</body>



</html>
